*,
*:after,
*:before {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #ECF2F6;
}
container.mastergrid {
  display: grid;
  grid-template-columns: 200px 950px;
}

.box1 {
  grid-row: 1 / span 5;
}

nav.nav-column {
  width: 200px;
  background-color: #354052;
  height: 100%;
  color: #A0ACBF;
  padding-left: 10px;
}

ul {
  padding: 0px;
}

li {
  list-style: none;
  margin: 10px auto;
  font-size: .75em;
  font-style: bold;
}

hr {
  margin-bottom: 0px;
}

/*LEFT COLUMN*/

.svg-inline--fa {
  margin-right: 15px;
}

span.nav-column--header-text {
  color: #65748D;
  font-size: 5px;
}

div.nav-column1 {
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: center;*/
}

img.nav-column1--image {
  height: 150px;
  border-radius: 50%;
}

nav.nav-header {
  height: 40px;
  display: flex;
  flex-direction: row;
} 

.nav-header--searchbar {
  width: 90%;
}

.nav-header--buttons:hover {
  background-color: #16A4FA
}


/*TOP SECTION*/
.box2 {
  background-color: white;
  /*padding-left: 40px;*/
}

.body-top {
  padding-left: 40px;
}

p.body-top--title {
  margin-left: 40px;
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: 0px;
}

p.body-top--subhead {
  margin-left: 40px;
  font-size: .75em;
  margin-top: 5px;
  margin-bottom: 40px;
  color: #7989A0;
}

span.body-top--subhead--link{
  color: #16A4FA;
}

.body-top--hoverlinks {
  display: inline;
  margin-left: 30px;
  margin-top: 40px;
}

.body-top--navlist {
  display: inline;
  border-bottom: 10px;
  margin: 10px;
  color: #7989A0;
  /*font-weight: bolder;*/
  font-size: .5em;
  letter-spacing: .25px;
}

.body-top--navlist:hover {
  padding-bottom: 10px;
  border-bottom: 3px solid #16A4FA;
  cursor: pointer;
  color: black;
}

.body-table {
  display: flex;
  flex-direction: row;
/*  background-color: #ECF2F6;
  width: 1005:;*/
}
.body-grid {
/*  display: grid;
  grid-template-rows: 600px 250px;
  grid-template-areas: 
  "bodytop bodytop"
  "line line"
  "table social"*/
}

/*BODY MIDDLE*/

.body-middle {
  grid-area: bodytop;
}

.body-linebreak {
  grid-area: line;
}

div.table-div {
  margin: 40px;
  background-color: white;
  grid-area: table;
}

table {
  width: 600px;
  border-collapse: collapse;
/*  margin: 40px;*/
  font-size: 14px;
  background-color: white;
  vertical-align: top;
  /*color: #9AA3AF;*/
  color: #7989A0;
}

table td {
  padding: 13px;
  /*border: 1px solid #ddd;*/
}

th {
  background-color: #6F7D95;
}

.table-styles {
  background-color: #6F7D95;
  color: white;
  height: 60px;
  border-color: #354052;
  text-align: left;
  /*margin-left: 10px;*/
}

.table-left-column {
  width: 175px;
  vertical-align: top;
  padding-left: 0px;
  padding-top: 15px;
  color: #7989A0;
  font-weight: bold;
  font-size: .75em;
  /*border-bottom: 1px solid #ddd;*/
}

.table-border-columns {
  border-bottom: 1px solid #ddd;
}

container.footer-column {
  margin-top: 40px;
  width: 200px;
  display: flex;
  flex-direction: column;
  padding-top: 0px;
  /*grid-area: social;*/
}

.social-button {
  width: 250px;
  height: 43px;
  color: white;
  margin: 10px 0px 10px 0px;
  border: 0px;
}

.facebook {
  background-color: #4A70C2;
  margin-top: 0px;
}

.twitter {
  background-color: #00AAEF;
}

.linkedin {
  background-color: #037EBB;
}

.footer-linktojob {

}

.footer-subhead {
  font-size: .75em;
  margin-top: 12px;
  color: #7989A0;
}

.footer-social-header-text {
  color: #354052;
  /*margin-bottom: 5px;*/
}

.footer--social-inputs {
  width: 250px;
}

