*,
*:after,
*:before {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #ECF2F6;
}

.mastergrid {
  display: grid;
  grid-template-columns: 200px 1000px;
}

.box1 {
  grid-row: 1 / span 5;
}

.nav-column {
  background-color: #354052;
  color: #A0ACBF;
  height: 100%;
  padding-left: 10px;
  width: 200px;
}

ul {
  padding: 0px;
}

li {
  font-size: .75em;
  font-style: bold;
  list-style: none;
  margin: 10px auto;
  margin-left: 10px;
}

.line-hover {
  color: white;
  cursor: pointer;
  cursor: pointer;
  padding-bottom: 10px;
}

.nav-column--links {
  margin-left: 10px;
}

hr {
  margin-bottom: 0px;
}

.svg-inline--fa {
  margin-right: 15px;
}

span.nav-column--header-text {
  color: #65748D;
  font-size: 5px;
}

img.nav-column1--image {
  border-radius: 50%;
  height: 150px;
}

.fun-checkboxes {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  color: #666;
  cursor: pointer;     
  display: inline-block;
  height: 15px;
  margin-right: 7px;
  outline: none;
  position: relative;
  top: 4px;
  width: 15px;
}

.red-checkbox {
  background-color: red;
}

.purple-checkbox {
  background-color: purple;
}

.yellow-checkbox {
  background-color: yellow;
}

.orange-checkbox {
  background-color: orange;
}

.fun-checkboxes:checked::before {
  content: '\02143';
  left: 3px;
  position: absolute;
  transform: rotate(40deg);
}

.fun-checkboxes:hover {
  background-color: #f7f7f7;
}

.fun-checlboxes:checked {
  background-color: #f1f1f1;
}

label
{
  font: 300 16px/1.7 'Open Sans', sans-serif;
  color: #666;
  cursor: pointer;
}

nav.nav-header {
  height: 40px;
  display: flex;
} 

.nav-header--searchbar {
  width: 90%;
}

.nav-header--buttons:hover {
  background-color: #16A4FA
}

.barista-class {
  margin: 10px;
}

.box2 {
  background-color: white;
}

.body-top {
  padding-left: 40px;
}

.body-top--title {
  display: flex;
}

.body-top--should-have-used-grid {
  display: flex;
  flex-direction: column;
}

.body-top--buttons {
  float: right;
}

p.body-top--title {
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: 0px;
  margin-left: 40px;
}

p.body-top--subhead {
  color: #7989A0;
  font-size: .75em;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-top: 5px;
}

span.body-top--subhead--link{
  color: #16A4FA;
}

.body-top--hoverlinks {
  display: inline;
  margin-left: 30px;
  margin-top: 40px;
}

.body-top--navlist {
  border-bottom: 10px;
  color: #7989A0;
  display: inline;
  font-size: .5em;
  letter-spacing: .25px;
  margin: 10px;
}

.body-top--navlist:hover {
  border-bottom: 3px solid #16A4FA;
  color: black;
  cursor: pointer;
  padding-bottom: 10px;
}

.body-middle--donut-graphs {
  display: flex;
}

.chart-text {
  -moz-transform: translateY(0.25em);
  -ms-transform: translateY(0.25em);
  -webkit-transform: translateY(0.25em);
  fill: #000;
  transform: translateY(0.25em);
}

.chart-label {
  -moz-transform: translateY(0.7em);
  -ms-transform: translateY(0.7em);
  -webkit-transform: translateY(0.7em);
  font-size: 0.2em;
  text-anchor: middle;
  text-transform: uppercase;
  transform: translateY(0.7em);
}

.chart-number {
  -moz-transform: translateY(-0.25em);
  -ms-transform: translateY(-0.25em);
  -webkit-transform: translateY(-0.25em);
  line-height: 1;
  text-anchor: middle;
  transform: translateY(-0.25em);
 font-size: 0.6em;
}

.body-table {
  display: flex;
}

.body-middle {
  grid-area: bodytop;
}

.body-linebreak {
  grid-area: line;
}

@keyframes circle-chart-fill {
  to { stroke-dasharray: 0 100; }
}

.donut-segment:hover {
  animation: circle-chart-fill 2s reverse;
  transform-origin: center;
}

.body-middle--button-esque {
  background-color: white;
  border-radius: 25px;
  border: #d2d3d4 solid 4px;
  display: inline-block;
  margin-right: 0px;
  margin: auto;
  padding-left: 10px;
  padding: 5px;
  width: auto;
}

div.table-div {
  background-color: white;
  grid-area: table;
  margin: 40px;
}

table {
  background-color: white;
  border-collapse: collapse;
  color: #7989A0;
  font-size: 14px;
  vertical-align: top;
  width: 600px;
}

table td {
  padding: 13px;
}

th {
  background-color: #6F7D95;
}

.table-styles {
  background-color: #6F7D95;
  border-color: #354052;
  color: white;
  height: 60px;
  text-align: left;
}

.table-left-column {
  color: #7989A0;
  font-size: .75em;
  font-weight: bold;
  padding-left: 0px;
  padding-top: 15px;
  vertical-align: top;
  width: 175px;
}

.table-border-columns {
  border-bottom: 1px solid #ddd;
}

img.jack {
  height: 30px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding-top: 0px;
  width: 220px;
}

.social-button {
  border: 0px;
  color: white;
  height: 43px;
  margin: 10px 0px 10px 0px;
  width: 250px;
}

.facebook {
  background-color: #4A70C2;
  margin-top: 0px;
}

.twitter {
  background-color: #00AAEF;
}

.linkedin {
  background-color: #037EBB;
}

.footer-linktojob {

}

hr.social-hr {
  color: #7989A0;
}

.footer-subhead {
  color: #7989A0;
  font-size: .75em;
  margin-top: 12px;
}

.footer-social-header-text {
  color: #354052;
  margin-bottom: 12px;
  width: auto;
}

.footer--social-inputs {
  width: 250px;
}

.input-group {
  display: flex;
}

.fa-search {
  background-color: #ADAAB6;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color: #ffffff;
  font-size: 24px;
  padding: 5px;
}

.header-search {
  display: flex;
  height: 34px;
  margin-right: 26px;
}

@media only screen and (max-width: 600px) {
  .mastergrid {
    display: flex; 
    flex-direction: column;
  }

  .nav-column {
    display: none;
  }

  .body-middle--donut-graphs {
  display: flex;
  flex-direction: column;
  width: 1000px;
  }
  
  .body-table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }
}
